body 
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   background-image: url("design/teglafal.jpg");
    color: beige;
    font-size: 10pt;
}
* {
    box-sizing: border-box;
}
header{
    grid-area: h;
    padding-bottom: 0px;
    background-size: cover;
    background-position-y: 3px;
    background-position-x: 67px;
    background-image: url("design/beer-new_401732638.jpg");
    height: 300px;
}
article{
    grid-area: a;
}
footer{
    grid-area: f;
    background-color: #a9a9a7;
    text-align: center;
    font-weight: bold;
    color: #cbe8f6;
}
main{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "h h"
    "a n"
    "f f";
    width: 80%;
    margin: auto;
    max-width: 1000px;
    background-color: #333;
    box-shadow: -1px -1px 18px 4px grey;
}
nav>ul{
    grid-area: n;
    display: grid;
    grid-template-columns: repeat(1, auto);
    width: 95%;
    gap: 2px;
    padding-left: 10px;
    padding: 24px;
    padding-top: 0px;
}
img{
    width: 30%;
    float: left;
    padding: 8px;
    margin: 15px;
    margin-right: 30px;
    border: 1px solid gray;
    
}
nav>ul>li>a{
    color: #ff2e07;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    
}
nav>ul>li{
    list-style: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 6px;
}
article{
    background-color: black;
    text-align: justify;
    font-size: 15px;
    border-right: 2px solid #4c4c4c;
    padding-right: 15PX;
}
nav{
    background-color: #333332;
}
h1{
    letter-spacing: 4px;
    font-weight: bold;
    font-family: Garamond;
    font-size: 32px;
    margin-top: 30px;
    margin-left: 30px;
}
nav>ul>li:hover{
    background-color: #cbe8f6;
}
nav>ul>li>a:hover{
    color: white;
}
article>ul>li{
    list-style-type: square;
}
h3{
    font-size: 15px;
    padding: 5px;
    padding-left: 17px;
}
table{
    width: 80%;
    border-collapse: collapse;
    margin: auto;
    border: 1px solid gray;
    margin-bottom: 50px;
}

td,th{
    border: 1px solid rgba(128, 128, 128, 0.514);
    padding: 7px;
    text-align: center;
    color: white;
    font-size: 14px;
}
th{
    font-size: 16px;
}
tbody>tr:nth-child(odd), thead>tr:nth-child(even){
    background-color: rgba(128, 128, 128, 0.397);
}
@media screen and (max-width: 700px)
{
    main{
    grid-template-areas: "h h"
    "n n"
    "a a"
    "f f";
    }
}